In [65]:
import pandas as pd
from datetime import datetime
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [72]:
data = {
    'Fecha': ['2023-11-06'] * 13,
    'Hora': [
        '07:00:00', '08:00:00', '09:00:00', '10:00:00', '11:00:00',
        '12:00:00', '13:00:00', '14:00:00', '15:00:00', '16:00:00',
        '17:00:00', '18:00:00', '19:00:00'
    ],
    'valor': [322.232, 535.3234, 343.456, 223.345, 212.789, 634.8768, 1432.454, 1210.2323, 287.786, 253.3464, 271.56856, 1840.32423, 332.5443],
}

In [73]:
df = pd.DataFrame(data)
df

         Fecha      Hora       valor
0   2023-11-06  07:00:00   322.23200
1   2023-11-06  08:00:00   535.32340
2   2023-11-06  09:00:00   343.45600
3   2023-11-06  10:00:00   223.34500
4   2023-11-06  11:00:00   212.78900
5   2023-11-06  12:00:00   634.87680
6   2023-11-06  13:00:00  1432.45400
7   2023-11-06  14:00:00  1210.23230
8   2023-11-06  15:00:00   287.78600
9   2023-11-06  16:00:00   253.34640
10  2023-11-06  17:00:00   271.56856
11  2023-11-06  18:00:00  1840.32423
12  2023-11-06  19:00:00   332.54430

In [74]:
# Combinar la columna Fecha y Hora en una sola columna DateTime
df['Fecha_Hora'] = pd.to_datetime(df['Fecha'] + ' ' + df['Hora'])

# Establecer la columna Fecha_Hora como el índice del DataFrame
df.set_index('Fecha_Hora', inplace=True)

# Resample con una frecuencia de 20 minutos e interpolación lineal
df_resampled = df.resample('20T').asfreq().interpolate()

# Restablecer el índice para obtener las columnas Fecha y Hora por separado
df_resampled = df_resampled.reset_index()

df_resampled.drop(columns=['Fecha'], inplace=True)
df_resampled.drop(columns=['Hora'], inplace=True)

df_resampled['Fecha'] = df_resampled['Fecha_Hora'].dt.date
df_resampled['Hora'] = df_resampled['Fecha_Hora'].dt.time

# Reordenar las columnas
df_resampled = df_resampled[['Fecha_Hora', 'Fecha', 'Hora', 'valor']]

df_resampled.drop(columns=['Fecha_Hora'], inplace=True)

df_resampled

         Fecha      Hora        valor
0   2023-11-06  07:00:00   322.232000
1   2023-11-06  07:20:00   393.262467
2   2023-11-06  07:40:00   464.292933
3   2023-11-06  08:00:00   535.323400
4   2023-11-06  08:20:00   471.367600
5   2023-11-06  08:40:00   407.411800
6   2023-11-06  09:00:00   343.456000
7   2023-11-06  09:20:00   303.419000
8   2023-11-06  09:40:00   263.382000
9   2023-11-06  10:00:00   223.345000
10  2023-11-06  10:20:00   219.826333
11  2023-11-06  10:40:00   216.307667
12  2023-11-06  11:00:00   212.789000
13  2023-11-06  11:20:00   353.484933
14  2023-11-06  11:40:00   494.180867
15  2023-11-06  12:00:00   634.876800
16  2023-11-06  12:20:00   900.735867
17  2023-11-06  12:40:00  1166.594933
18  2023-11-06  13:00:00  1432.454000
19  2023-11-06  13:20:00  1358.380100
20  2023-11-06  13:40:00  1284.306200
21  2023-11-06  14:00:00  1210.232300
22  2023-11-06  14:20:00   902.750200
23  2023-11-06  14:40:00   595.268100
24  2023-11-06  15:00:00   287.786000
25  2023-11-06  15:20:00   276.306133
26  2023-11-06  15:40:00   264.826267
27  2023-11-06  16:00:00   253.346400
28  2023-11-06  16:20:00   259.420453
29  2023-11-06  16:40:00   265.494507
30  2023-11-06  17:00:00   271.568560
31  2023-11-06  17:20:00   794.487117
32  2023-11-06  17:40:00  1317.405673
33  2023-11-06  18:00:00  1840.324230
34  2023-11-06  18:20:00  1337.730920
35  2023-11-06  18:40:00   835.137610
36  2023-11-06  19:00:00   332.544300

In [75]:
df_resampled['sensor'] = 'mq7_sensor01'
df_resampled['usuario'] = 'ESP01'
df_resampled['codigo'] = '01'
df_resampled['prueba'] = False

df_resampled

         Fecha      Hora        valor        sensor usuario codigo  prueba
0   2023-11-06  07:00:00   322.232000  mq7_sensor01   ESP01     01   False
1   2023-11-06  07:20:00   393.262467  mq7_sensor01   ESP01     01   False
2   2023-11-06  07:40:00   464.292933  mq7_sensor01   ESP01     01   False
3   2023-11-06  08:00:00   535.323400  mq7_sensor01   ESP01     01   False
4   2023-11-06  08:20:00   471.367600  mq7_sensor01   ESP01     01   False
5   2023-11-06  08:40:00   407.411800  mq7_sensor01   ESP01     01   False
6   2023-11-06  09:00:00   343.456000  mq7_sensor01   ESP01     01   False
7   2023-11-06  09:20:00   303.419000  mq7_sensor01   ESP01     01   False
8   2023-11-06  09:40:00   263.382000  mq7_sensor01   ESP01     01   False
9   2023-11-06  10:00:00   223.345000  mq7_sensor01   ESP01     01   False
10  2023-11-06  10:20:00   219.826333  mq7_sensor01   ESP01     01   False
11  2023-11-06  10:40:00   216.307667  mq7_sensor01   ESP01     01   False
12  2023-11-06  11:00:00   212.789000  mq7_sensor01   ESP01     01   False
13  2023-11-06  11:20:00   353.484933  mq7_sensor01   ESP01     01   False
14  2023-11-06  11:40:00   494.180867  mq7_sensor01   ESP01     01   False
15  2023-11-06  12:00:00   634.876800  mq7_sensor01   ESP01     01   False
16  2023-11-06  12:20:00   900.735867  mq7_sensor01   ESP01     01   False
17  2023-11-06  12:40:00  1166.594933  mq7_sensor01   ESP01     01   False
18  2023-11-06  13:00:00  1432.454000  mq7_sensor01   ESP01     01   False
19  2023-11-06  13:20:00  1358.380100  mq7_sensor01   ESP01     01   False
20  2023-11-06  13:40:00  1284.306200  mq7_sensor01   ESP01     01   False
21  2023-11-06  14:00:00  1210.232300  mq7_sensor01   ESP01     01   False
22  2023-11-06  14:20:00   902.750200  mq7_sensor01   ESP01     01   False
23  2023-11-06  14:40:00   595.268100  mq7_sensor01   ESP01     01   False
24  2023-11-06  15:00:00   287.786000  mq7_sensor01   ESP01     01   False
25  2023-11-06  15:20:00   276.306133  mq7_sensor01   ESP01     01   False
26  2023-11-06  15:40:00   264.826267  mq7_sensor01   ESP01     01   False
27  2023-11-06  16:00:00   253.346400  mq7_sensor01   ESP01     01   False
28  2023-11-06  16:20:00   259.420453  mq7_sensor01   ESP01     01   False
29  2023-11-06  16:40:00   265.494507  mq7_sensor01   ESP01     01   False
30  2023-11-06  17:00:00   271.568560  mq7_sensor01   ESP01     01   False
31  2023-11-06  17:20:00   794.487117  mq7_sensor01   ESP01     01   False
32  2023-11-06  17:40:00  1317.405673  mq7_sensor01   ESP01     01   False
33  2023-11-06  18:00:00  1840.324230  mq7_sensor01   ESP01     01   False
34  2023-11-06  18:20:00  1337.730920  mq7_sensor01   ESP01     01   False
35  2023-11-06  18:40:00   835.137610  mq7_sensor01   ESP01     01   False
36  2023-11-06  19:00:00   332.544300  mq7_sensor01   ESP01     01   False

In [76]:
df_resampled.to_csv('files/mq7_sensor01_lunes.csv', index=False)